@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@800&family=Poppins:ital,wght@0,700;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primaryColor: hsl(231, 67%, 43%);
    --hoverColor: hsl(0, 0%, 75%);
    --paleBlue: hsl(187, 84%, 46%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
    
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
}

img, video{
    height: auto;
    width: 100%;
}

.message{
    display: none;
}

.showMessage{
    display: block;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--greyText);
}

.btn .icon{
    margin-left: .5rem;
}

.btn:hover{
    color: var(--primaryColor);
    background: var(--paleBlue);
}

.loginPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);

    .container{
        height: 100vh;
        width: 100%;
        margin: auto;
        border-radius: 10px;
        background: hsl(0, 0%, 91%);

        .imgDiv{
            position: relative;
            display: flex;
            flex-basis: 60%;
            width: 70%;
            height: 100%;
            padding: 0 1.5rem;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin: 0;
            border-radius: 10px;
            overflow: hidden;

            .contractImg, .footerDiv, .overlayDiv{
                position: absolute;
            }

            .contractImg, .overlayDiv{
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }

            .overlayDiv{
                background: rgba(0, 0, 0, 0.348);
            }

            .textDiv{
                position: relative;

                .title{
                    font-size: 35px;
                    font-weight: 800;
                    color: var(--whiteColor);
                }
            }

            .footerDiv{
                bottom: 10px;
                padding: .8rem 1rem;
                height: 60px;
                background: rgba(255, 255, 255, 0.748);
                left: 100px;
                right: 100px;
                justify-content: space-between;
                backdrop-filter: blur(1px);
                border-radius: 10px;

                .text{
                    color: var(--blackColor);
                    margin-right: 5rem;
                }

                .btn{
                    background: var(--whiteColor);
                    color: var(--blackColor);
                    padding: .8rem 1.5rem;
                    border-radius: 10px;
                    font-weight: 400;
                    transition: .3s ease;

                    &:hover{
                        background: var(--hoverColor);
                        color: var(--blackColor);
                    }
                }
            }
        }

        .formDiv{
            flex-basis: 30%;
            margin: auto;
            flex-direction: column;
            gap: 1.5rem;
            transform: translateY(-1rem);

            .headerDiv{
                text-align: center;
                padding: 1.5rem 0;

                .logo{
                    width: 200px;
                    border-radius: 100%; 
                    margin-bottom: 1rem;
                }

                .icon{
                    color: green;
                    font-size: 50px;
                    display: block;
                    margin: auto;                 
                    margin-bottom: 1rem;
                }

                .welcome{
                    font-size: 25px;
                    color: var(--blackColor);
                    font-weight: 600;
                }
            }

            .form{
                gap: 1rem;

                .inputDiv{
                    .icon{
                        color: var(--greyText);
                    }

                    .toggle{
                        cursor: pointer;
                        margin-left: auto;
                    }

                    .inputData{
                        background: none;
                        outline: none;
                        border: none;
                        width: 200px;
                    }

                    .label{
                        color: var(--blackColor);
                        font-weight: 400;
                        font-size: 14px;
                        padding: .5rem 0;
                        display: block;
                    }

                    .input{
                        gap: .5rem;
                        padding: 1rem;
                        background: var(--inputColor);
                        border-radius: 10px;
                    }
                }

                .btn{
                    display: flex;
                    padding: .8rem;
                    background: var(--blackColor);
                    border-radius: 10px;
                    color: yellow;
                    align-items: center;
                    margin: 0;
                    justify-content: center;
                    font-size: 16px;
                    width: 100%;
                    gap: .5rem;
                    transition: .3s ease;

                    .icon{
                        font-size: 25px;
                        transition: .3s ease;
                    }

                    &:hover{
                        background: var(--hoverColor);
                        color: var(--blackColor);

                        .icon{
                            color: var(--blackColor);
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 602px) {
    .loginPage{
        .container{
            width: 100%;
            height: 100%;
            flex-direction: column;
            padding: 1.5rem;

            .imgDiv{
                width: 100%;
                height: 40%;

                .contractImg{
                    object-fit: cover;
                }

                .textDiv{
                    .title{
                        font-size: 20px;
                    }
                }

                .footerDiv{
                    gap: 1rem;
                    left: 10px;
                    right: 10px;
                    padding: 0 1rem;
                    transform: translateY(-.5rem);

                    .text{
                        margin: 1rem;
                        font-size: 12px;
                    }

                    .btn{
                        padding: .4rem 1.5rem;
                    }
                }
            }

            .formDiv{
                gap: 1rem;
                transform: translateY(-.5rem);

                .headerDiv{
                    padding: 1rem 0;

                    .logo{
                        width: 100px;
                    }

                    .welcome{
                        font-size: 20px;
                    }
                }

                .form{
                    gap: .5rem;

                    .inputDiv{
                        .inputData{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 678px) {
    .loginPage{
        .container{
            .imgDiv{
                .textDiv{
                    .title{
                        font-size: 25px;
                    }
                }

                .footerDiv{
                    gap: 1rem;
                    left: 10px;
                    right: 10px;
                    padding: 0 1rem;
                    transform: translateY(-.5rem);

                    .text{
                        margin: 1rem;
                        font-size: 12px;
                    }

                    .btn{
                        padding: .8rem 1.5rem;
                    }
                }
            }

            .formDiv{
                .headerDiv{
                    padding: 1.5rem 0;

                    .welcome{
                        font-size: 20px;
                    }
                }

                .form{

                    .inputDiv{
                        .inputData{
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 927px) {
    .loginPage{
        .container{
            width: 85%;

            .imgDiv{
                .footerDiv{
                    left: 10px;
                    right: 10px;
                    padding: 0 1rem;

                    .text{
                        margin: .5rem;
                    }
                }
            }
        }
    }
}

